<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>I-Strategies</div>
  <span class="nav-tool-items">
    <a class="top-buttons" mat-button  routerLink="login" routerLinkActive="active">Log in</a>
    <a class="top-buttons" mat-button  mat-flat-button routerLink="mantenimiento" routerLinkActive="active">Mantenimiento Personas</a>
    <a class="top-buttons" mat-button  mat-flat-button routerLink="registros" routerLinkActive="active">Registros</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
